<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HasOffers actions</title>
</head>
<body>
    <h1>HasOffers transaction ID to SubID conversion</h1>
    <h3> Enter all transaction ids and hit submit.</h3>
    <h3> Do not copy directly from excel but rather from notepad or similar.</h3>
    <form action="source" method="post">
      <textarea  type="text" name="hoid" rows="8" cols="40">1028931261571451150815&#10;10210921117720271453150818&#10;102782111284071451150814</textarea>
      <input type="submit" value="Please give me the source. [Only works with older data as hadoop ids under reconstruction]">
    </form>
    <form action="result" method="post">
      <textarea  type="text" name="hoid" rows="8" cols="40">1028931261571451150815&#10;10210921117720271453150818&#10;102782111284071451150814</textarea>
      <input type="submit" value="Just give me the subids">
    </form>
    <h1>Get a list of all active HasOffer Offer Ids </h1>
    <form method="get" action="active">
      <button>Click Here</button>
    </form>
    <h1>Get a list of all active Advertisers in HasOffers with Security Token information </h1>
    <form method="get" action="advertisers">
      <button>Click Here</button>
    </form>
    <h1>Get a list of all converted LeadAds Offers </h1>
    <form method="get" action="leadads">
      <button>Click Here</button>
    </form>
</body>
