<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HasOffers actions</title>
</head>
<body>
    <h1>Is it a hasoffers transaction id ?</h1>
    <h3> Enter one here and find out</h3>
    </form>
    <form action="result" method="post">
      <input type="text" name="hoid" size="40" value='10210921117720271453150818'>
      <input type="submit">
    </form>
    <h3> You will either get a subid as result or 'no result' if not.</h3>
</body>
